# Build files
/HublaFrontend/frontend/build
/HublaFrontend/frontend/dist

# Dependencies
/HublaFrontend/frontend/node_modules
HublaFrontEnd/frontend/.env

# Build cache
.cache

# IDE files
.vscode/
.idea/

# Miscellaneous
*.DS_Store
*.pem
*.pid
*.sqlite
*.swp
*.zip

# Python
/HublaBackEnd/venv
/HublaBackEnd/db

*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
*.egg
